{% extends "configurators/x-base-v1-configure.html" %}
{% load i18n django_bootstrap5 range vars %}

{% block config-section-2 %}
    <h5 class="mb-2 mt-4">{% trans "IO" %}</h5>
    <section id="tab-io">
        <hr class="mt-0"/>
        <div class="clearfix">
            <div class="float-end text-bg-danger" style="width: 10%">&nbsp;</div>
            {% bootstrap_field form.ni placeholder='' %}
        </div>
        <div class="clearfix">
            <div class="float-end text-bg-primary" style="width: 10%">&nbsp;</div>
            {% bootstrap_field form.no placeholder='' %}
        </div>
                    
        {% bootstrap_field form.led placeholder='' %}
    </section>
{% endblock config-section-2 %}

{% block config-sidebar-details %}
    <table id="table-pins" class="table table-sm">
        <thead>
            <th>&nbsp;</th>
            <th>{% trans "Pin" %}</th>
            <th>{% trans "Function" %}</th>
        </thead>
        <tbody>
            {% for i in configurator.MAX_GPIO_PINS|range %}  {# requires Xmod1V1Configurator #}
            <tr>
                <td><div id="pin-{{ i }}-color" class="pinTypeIndicator">&nbsp;</div></td>
                <td id="pin-{{ i }}-number">{{ i }}</td>
                <td id="pin-{{ i }}-function">&mdash;</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock config-sidebar-details %}

{% block script-specific %}{{ block.super }}
<script>
    
    pinVisualisation.init(
        '{{form.ni.auto_id}}',
        '{{form.no.auto_id}}',
        'image-diagram',
        'select-hardware',
        'table-pins',
        'modal-form-container-configure'
    );
</script>
{% endblock script-specific %}